@media only screen and (max-width: 767px) {

    #portfolio-wrapper .columns { margin-bottom: 40px; }
    .portfolio-item .item-wrap img {
    vertical-align: bottom;
    height: 230px;
    width: 700px;
    border-radius: 3%;
 }  

 }