.movie-text {
    text-align: center;
    color: white;
    text-decoration: none;
  }

.headImage {
    width: 30%;
    height: 30%;
}

.loadingGif{
  width: 40%;
  height: 40%;
}
.color-aqua{
    color:aqua;
}

.heading-text{
    font-family: fantasy;
    color:gold;
}
.movie-date{
    color: aquamarine;
    font-size: small;
}
.Col{
    columns: 2 auto;
}

@media only screen and (max-width: 768px) {
    .history {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }
