.MText {
    text-align: center;
    color: white;
    text-decoration: none;
  }

  img {
    width: 30%;
    height: 30%;
    
  }
.ColorTxt{
    color:aqua;
}

.ColorM{
    font-family: fantasy;
    color:gold;
}
.DateSize{
    color: aquamarine;
    font-size: small;
}
.Col{
    columns: 2 auto;
}

@media only screen and (max-width: 768px) {
    .history {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      grid-row-gap: 100px;
    }
  }
