.App {
  text-align: center;
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 1024px) {

  /* header styles
 ------------------------------------------------------------------ */
 .App-header {
    font: 80px/1.1em 'opensans-bold', sans-serif;
    
 }

}
.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://i.stack.imgur.com/UJur5.png");
  background-repeat: no-repeat;
  background-size: 700px 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
